@use '../custom' as *;
@use '../components/mixins' as *;

.container__presupuestador {
    display: flex;
    align-items: flex-start;
    #servicios {
        @include media-breakpoint-up(sm) {
            margin-top: -3rem;
        }
        @include media-breakpoint-up(md) {
            margin-top: -7rem;
        }
        padding: 1rem;
        margin: 0 auto;
        width: 60%;
    }
    #presupuesto {
        width: 30%;
        background: black;
        color: white;
        padding: 1.5rem;
        height: max(300px, 100%);
        
        background:
            linear-gradient(-135deg, black 5px, transparent 0) 0 5px,
            linear-gradient(135deg, black 5px, #fff 0) 0 5px;
        background-color: black;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 10px 10px;
        h3 {
            text-align: center;
        }
        #total {
            text-align: right;
            border-top: 1px double white;
            padding-top: 1rem;
        }
        &__items {
            padding: 2rem 0;
            > * {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: .5rem;
            }
        }
    }
}

.presupuestador__servicio {
    border: 2px solid $primary;
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    &--titulo {
        font-weight: 700;
    }
    &:hover {
        color: white;
        @include gradient;
        border: 2px solid white;
        cursor: pointer;
    }
}

.presupuestador__servicio--selected {
    color: white;
    @include gradient;
    border: 2px solid white;
}

#clear-btn,
#contact-btn {
    margin: .5rem;
    width: 100%;
}

#clear-btn {
    margin-top: 1rem;
    &:hover {
        background: black;
        color: white;
    }
}

#contact-btn {
    @include gradient;
        color: white;
        span {
            background-color: rgba(black, 0.6);
        }
    &:hover {
        filter: drop-shadow(2px 2px 30px $primary);
    }
}
